@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("../fonts/HelveticaNeueCyr-Roman.eot");
  src: url("../fonts/HelveticaNeueCyr-Roman.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueCyr-Roman.woff2") format("woff2"), url("../fonts/HelveticaNeueCyr-Roman.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Roman.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "HelveticaNeueBoldCondensed";
  src: url("../fonts/HelveticaNeueBoldCondensed.eot");
  src: url("../fonts/HelveticaNeueBoldCondensed.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueBoldCondensed.woff2") format("woff2"), url("../fonts/HelveticaNeueBoldCondensed.woff") format("woff"), url("../fonts/HelveticaNeueBoldCondensed.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "HelveticaNeueBlackCondensed";
  src: url("../fonts/HelveticaNeueBlackCondensed.eot");
  src: url("../fonts/HelveticaNeueBlackCondensed.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueBlackCondensed.woff2") format("woff2"), url("../fonts/HelveticaNeueBlackCondensed.woff") format("woff"), url("../fonts/HelveticaNeueBlackCondensed.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
  background-color: #fff;
  color: #3f3a31;
  font-family: "HelveticaNeueCyr", sans-serif;
  -webkit-font-smoothing: antialiased;
}

main {
  padding: 30px 0;
  background-color: #fff;
  overflow: hidden;
}

section {
  max-width: 1276px;
  margin: 0 auto;
}

.page {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
}

a {
  transition: color 0.2s ease-in-out;
}

button {
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

svg {
  transition: fill 0.2s ease-in-out;
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

*:focus {
  outline: none;
  outline-offset: -1px;
}

.nav {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}
@media screen and (max-width: 1024px) {
  .nav {
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 999;
  }
}

.nav__label {
  display: none;
  margin: 50px 0 40px 0;
  color: #8B7454;
  font-family: "HelveticaNeueBlackCondensed", sans-serif;
  font-size: 20px;
  font-weight: 900;
  text-transform: uppercase;
}
@media screen and (max-width: 1024px) {
  .nav__label {
    display: block;
  }
}
@media screen and (max-height: 600px), (max-width: 600px){
  .nav__label {
    margin: 20px 0;
  }
}
.nav__mobile-slogan {
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #FCF9F4;
}
@media screen and (max-width: 1024px) {
  .nav__mobile-slogan {
    display: flex;
  }
}

.nav__slogan-bg {
  width: 768px;
  height: 341px;
  background-image: url("../img/header-bg-tab.png");
  display: flex;
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: 100% auto;
  background-color: #FCF9F4;
  /*background-position-y: 8px;*/
}

@media screen and (max-width: 700px) {
  .nav__slogan-bg {
    height: 300px;
  }
}

@media screen and (max-width: 600px) {
  .nav__slogan-bg {
    height: 270px;
  }
}

@media screen and (max-width: 576px) {
  .nav__slogan-bg {
    height:262px;
    background-image: url("../img/header-bg-mob.png");
    background-size: auto 100%;
  }
} 

@media screen and (max-width: 360px) {
  .nav__slogan-bg {
    height:230px;
  }
} 

.nav__list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

@media screen and (max-width: 1024px) {
  .nav__list {
    width: 100%;
    flex-direction: column;
    margin-bottom: 30px;
    padding: 0;
  }
}

.nav__list-group{
  display: flex;
}

@media screen and (max-width: 1024px) {
  .nav__list-group{
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

.nav__item:not(:last-child) {
  margin-right: 80px;
}
@media screen and (max-width: 1280px) {
  .nav__item:not(:last-child) {
    margin-right: 30px;
  }
}
@media screen and (max-width: 1024px) {
  .nav__item:not(:last-child) {
    margin-right: 0;
  }
}
@media screen and (max-width: 1024px) {
  .nav__item {
    width: 100%;
  }
}
.nav__link {
  color: #3f3a31;
  font-family: "HelveticaNeueBoldCondensed", sans-serif;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.nav__link:hover {
  border-bottom: 2px solid #787266;
}
@media screen and (max-width: 1024px) {
  .nav__link {
    width: 100%;
    display: block;
    padding: 10px 0;
    margin-bottom: 10px;
    background-color: #F7EEDD;
    color: #3F3A31;
    font-family: "HelveticaNeueBlackCondensed", sans-serif;
    font-size: 20px;
    font-weight: 900;
  }
  .nav__link:hover {
    border-bottom: none;
  }
}
.nav__btn-close-nav {
  display: none;
  margin-bottom: 20px;
  background-color: transparent;
  color: #8B7454;
  font-size: 14px;
}
@media screen and (max-width: 1024px) {
  .nav__btn-close-nav {
    display: flex;
  }
}
.nav__btn-close-nav svg {
  width: 17px;
  height: 17px;
  margin-left: 8px;
}

.show-nav {
  display: flex;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

@media screen and (max-width: 1024px){
.header {
    justify-content: flex-start;
    padding-top: 58px;
  }
}
.header__wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #FCF9F4;
}

.header__wrapper-block{
  display: flex;
  width: 1276px;
  height: 566px;
  background-image: url("../img/header-bg.png");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: 100% auto;
  background-color: #FCF9F4;
}

@media screen and (max-width: 1276px) {
  .header__wrapper-block{
    display: flex;
    width: 1148px;
    height: 510px;
    background-image: url("../img/header-bg1.png");
  }
}

@media screen and (max-width: 1024px) {
  .header__wrapper-block {
    width: 768px;
    height: 341px;
    background-image: url("../img/header-bg-tab.png");
  }
}

@media screen and (max-width: 700px) {
  .header__wrapper-block {
    height: 300px;
  }
}

@media screen and (max-width: 600px) {
  .header__wrapper-block {
    height: 270px;
  }
}

@media screen and (max-width: 576px) {
  .header__wrapper-block {
    width: 388px;
    height:262px;
    background-image: url("../img/header-bg-mob.png");
  }
} 

@media screen and (max-width: 360px) {
  .header__wrapper-block {
    width: 388px;
    height:262px;
    background-image: url("../img/header-bg-mob.png");
  }
} 

.header__info {
  width: 700px;
  min-height: 422px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  background-image: url("../img/header-user-info-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  margin-top: -330px;
}

@media screen and (max-width: 1276px) {
  .header__info {
    width: 100%;
   min-height: 200px;
    background-image: none;
    margin-top: -30px;
    background-color: #f7eedc;
  }
}

@media screen and (max-width: 1024px) {
  .header__info {
    min-height: 147px;
    padding: 0;
    margin-top: -7px;
  }
}
.header__slogan {
  height: 150px;
  display: none;
  position: relative;
  background-color: #F7EEDD;
  background-image: url("../img/slogan.png");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 60% auto;
}
@media screen and (max-width: 1024px) {
  .header__slogan {
    display: block;
  }
}
@media screen and (max-width: 768px) {
  .header__slogan {
    background-position: left top 40%;
    background-size: 80% auto;
  }
}
@media screen and (max-width: 576px) {
  .header__slogan {
    height: 95px;
    background-position: left center;
    background-size: 78% auto;
  }
}
.header__slogan img {
  position: absolute;
  top: 0;
  right: 0;
}
@media screen and (max-width: 576px) {
  .header__slogan img {
    height: 100px;
    top: 12px;
  }
}
.header__label {
  width: 665px;
  height: 262px;
  flex-shrink: 0;
  position: relative;
  background-image: url("../img/header-label-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
@media screen and (max-width: 1800px) {
  .header__label {
    width: 442px;
    height: 175px;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 1024px) {
  .header__label {
    display: none;
  }
}
.header__label p {
  max-width: 360px;
  position: absolute;
  top: 93px;
  left: 187px;
  color: #fcf9f4;
  font-family: "HelveticaNeueBlackCondensed", sans-serif;
  font-size: 27px;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
}
@media screen and (max-width: 1800px) {
  .header__label p {
    max-width: 250px;
    top: 60px;
    left: 120px;
    font-size: 18px;
  }
}
.header__nav {
  width: 100%;
  max-width: 1276px;
  margin: 0 auto;
}
@media screen and (max-width: 1024px) {
  .header__nav {
    padding: 0;
  }
}

.user-info {
  width: 532px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 25px 15px 20px 15px;
  margin-top: 225px;
  margin-left: -30px;
}

@media screen and (max-width: 1276px) {
  .user-info{
    margin-top: 0;
    margin-left: 0;
    padding: 15px;
  }
}

@media screen and (max-width: 1024px) {
  .user-info {
    width: 100%;
    min-height: 167px;
  }
}
.user-info__greeting {
  font-family: "HelveticaNeueBoldCondensed", sans-serif;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  color: #8C7454;
}
@media screen and (max-width: 1024px) {
  .user-info__greeting {
    font-size: 16px;
  }
}
.user-info__user-name {
  font-family: "HelveticaNeueBlackCondensed", sans-serif;
  font-size: 30px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  color: #8C7454;
}
@media screen and (max-width: 1024px) {
  .user-info__user-name {
    font-size: 20px;
  }
}
@media screen and (max-width: 576px) {
  .user-info__user-name {
    max-width: 300px;
    margin: 0 auto;
  }
}
.user-info__status {
  font-family: "HelveticaNeueBoldCondensed", sans-serif;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 15px;
  padding-bottom: 15px;
   color: #C8AC86;
  border-bottom: 1px solid #8C7454;
}
@media screen and (max-width: 1024px) {
  .user-info__status {
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    border-bottom: none;
    font-size: 14px;
    
  }
}
.user-info__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 1024px) {
  .user-info__info {
    flex-direction: column-reverse;
  }
}
.user-info__stats {
  display: flex;
  align-items: center;
}
.user-info__stats li {
  display: flex;
  align-items: flex-end;
}
.user-info__stats li:not(:last-child) {
  margin-right: 14px;
}
.user-info__value {
  margin-right: 5px;
  font-size: 20px;
  color: #8C7454;
  font-weight: 700;
}

.user-info__label {
  font-size: 14px;
  color: #C8AC86;
}
@media screen and (max-width: 1024px) {
  .user-info__label {
    font-size: 12px;
  }
}
.user-info__btn-exit {
  width: 140px;
  height: 40px;
  background-color: #C8AC86;
  color: #8c7454;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 40px;
  text-align: center;
  position: relative;
}
.user-info__btn-exit:hover{
  color: #fff;
}
@media screen and (max-width: 1024px) {
  .user-info__btn-exit {
    width: auto;
    height: auto;
    margin-bottom: 15px;
    background-color: transparent;
    color: #8c7454;
    font-size: 12px;
    text-transform: initial;
    text-decoration: underline;
    line-height: 1;
  }
  .user-info__btn-exit::after {
    content: "";
    max-width: 350px;
    height: 1px;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #F7EEDD;
  }

  .user-info__btn-exit:hover{
    color: #C8AC86;
  }
}

.navbar {
  height: 58px;
  width: 100%;
  display: none;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  padding: 0 20px;
  background-color: #fff;
}
@media screen and (max-width: 1024px) {
  .navbar {
    display: flex;
  }
}
@media screen and (max-width: 576px) {
  .navbar {
    padding: 0 10px;
  }
}

.navbar__btn-open-nav {
  display: flex;
  align-items: center;
  margin-right: auto;
  background-color: transparent;
  color: #8B7454;
  font-family: "HelveticaNeueBoldCondensed", sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}
.navbar__btn-open-nav svg {
  width: 28px;
  height: 20px;
  margin-right: 4px;
  margin-bottom: 2px;
  fill: #8B7454;
}
.navbar__btn-calendar, .navbar__btn-vote {
  display: flex;
  align-items: center;
  background-color: transparent;
  color: #8B7454;
  font-family: "HelveticaNeueBoldCondensed", sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: underline;
}
.navbar__btn-calendar svg, .navbar__btn-vote svg {
  width: 20px;
  height: 20px;
  margin-right: 4px;
  margin-bottom: 2px;
  fill: #8B7454;
}
.navbar__btn-calendar {
  margin-right: 20px;
}

.calendar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
@media screen and (max-width: 1024px) {
  .calendar {
    padding: 0 18px;
  }
}
@media screen and (max-width: 576px) {
  .calendar {
    padding: 0 12px;
  }
}
.calendar__aside {
  width: 200px;
    margin-right: 20px;
}

@media screen and (max-width: 1024px) {
  .calendar__aside {
    display: none;
  }
}
.calendar__rules {
  margin-bottom: 15px;
}

.rules {
  width: 200px;
  height: 720px;
  padding: 15px 5px;
  background-image: url("../img/calendar-aside-bg-1-style-2.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.rules__title {
  color: #3f3a31;
  font-family: "HelveticaNeueBlackCondensed", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  margin: 5px 0;
  font-size: 20px;
  text-align: center;
}

.rules__info {
  font-family: "HelveticaNeueCyr";
  color: #3f3a31;
  font-size: 12px;
  text-align: center;
  font-weight: 400;
}

.rules__info:first-of-type {
  margin-bottom: 10px;
}  

.rules__labels {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.rules__label {
  display: flex;
  align-items: center;
  color: #f7eedc;
  font-family: "HelveticaNeueBoldCondensed", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 0.95;
  height: auto;
  margin: 0 auto;
  padding: 4px 8px;
  font-size: 14px;
  text-align: center;
} 

.signs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 15px;
  width: 200px;
  height: 340px;
  background-image: url("../img/calendar-aside-bg-2-style-2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.signs__title {
  margin-bottom: 5px;
  font-size: 20px;
  text-align: center;
  color: #fff;
  font-family: "HelveticaNeueBlackCondensed", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
}

.signs__info {
  margin-bottom: 14px;
  color: #fff;
  font-size: 12px;
  text-align: center;
}

.signs__sign {
  display: flex;
  align-items: flex-start;
  color: #fff;
  font-size: 12px;
  line-height: 14px;
  padding-right: 10px;
}

.signs__sign:not(:last-child) {
  margin-bottom: 14px;
}

.signs__sign img {
  width: 19px;
  height: 19px;
  margin-right: 8px;
  -o-object-fit: contain;
     object-fit: contain;
}

.plan {
  width: 100%;
}
.plan__select {
  display: none;
  justify-content: center;
  margin-bottom: 20px;
  font-family: "HelveticaNeueBoldCondensed", sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #8B7454;
}
@media screen and (max-width: 1024px) {
  .plan__select {
    display: flex;
  }
}
.plan__select select {
  width: 350px;
}
.plan__week {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 -9px;
}
@media screen and (max-width: 1024px) {
  .plan__week {
    display: none;
  }
  .plan__week_active {
    display: block;
  }
}
.plan__day {
  width: 100%;
  max-width: calc(100% / 5 - 18px);
  margin: 0 9px 20px 9px;
}
@media screen and (max-width: 1024px) {
  .plan__day {
    max-width: calc(100% - 18px);
  }
}
.plan__name {
  margin-bottom: 15px;
  color: #8c7454;
  font-family: "HelveticaNeueBoldCondensed", sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  white-space: nowrap;
  margin-bottom: 10px;
}

@media screen and (max-width: 1024px) {
  .plan__name {
    margin-bottom: 10px;
    font-size: 14px;
    text-align: left;
  }
}
.plan__item:not(:last-child) {
  margin-bottom: 14px;
}
@media screen and (max-width: 1024px) {
  .plan__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

.day-plan {
  position: relative;
  background: #F7EEDD;
  color: #3F3A31;
}
@media screen and (max-width: 1280px) {
  .day-plan {
    max-width: 100%;
    min-height: auto;
    margin: 0;
    margin-bottom: 20px;
  }
}
/*
<!-- day-plan_result / результат = brown -->
<!-- day-plan_development / развитие = red -->
<!-- day-plan_progress / достижение = blue -->
<!-- day-plan_growth / рост = grey -->
<!-- day-plan_promotion / поощрение = orange -->
<!-- day-plan_communication / взаимодействие = green -->
*/
.day-plan_result .day-plan__main{
  border: 2px solid #8C7454;
}
.day-plan_development .day-plan__main{
  border: 2px solid #A04830;
}
.day-plan_progress .day-plan__main{
  border: 2px solid #2A5962;
}
.day-plan_growth .day-plan__main{
  border: 2px solid #849FA4;
}
.day-plan_promotion .day-plan__main{
  border: 2px solid #CC902D;
}
.day-plan_communication .day-plan__main{
  border: 2px solid #6B7B46;
}


.day-plan_result .day-plan__aside{
  background-color: #8C7454;
}
.day-plan_development .day-plan__aside{
  background-color: #A04830;
}
.day-plan_progress .day-plan__aside{
  background-color: #2A5962;
}
.day-plan_growth .day-plan__aside{
  background-color: #849FA4;
}
.day-plan_promotion .day-plan__aside{
  background-color: #CC902D;
}
.day-plan_communication .day-plan__aside{
  background-color: #6B7B46;
}

/*
.day-plan_simplicity .day-plan__aside {
  background-color: #9E4834;
}
.day-plan_responsibility .day-plan__aside{
  background-color: #2C5961;
}
.day-plan_solidarity .day-plan__aside{
  background-color: #859FA4;
}
.day-plan_discipline .day-plan__aside{
  background-color: #CB8F38;
}
.day-plan_entrepreneurial-spirit .day-plan__aside{
  background-color: #6B7B46;
}
*/

.day-plan_vote-success::after {
  content: "";
  width: 29px;
  height: 29px;
  position: absolute;
  top: 10px;
  right: 5px;
  background-image: url("../img/vote-success.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
@media screen and (max-width: 1024px) {
  .day-plan_vote-success::after {
    top: 10px;
  }
}
.day-plan_vote-fail::after {
  content: "";
  width: 29px;
  height: 29px;
  position: absolute;
  top: 10px;
  right: 5px;
  background-image: url("../img/vote-fail.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
@media screen and (max-width: 1024px) {
  .day-plan_vote-fail::after {
    top: 10px;
  }
}
.day-plan_speaker {
  background-color: #f7eedc;
}
.day-plan_speaker .day-plan__time,
.day-plan_speaker .day-plan__my-sessin,
.day-plan_speaker .day-plan__description,
.day-plan_speaker .day-plan__format,
.day-plan_speaker .day-plan__speakers,
.day-plan_speaker .day-plan__speakers-item {
  color: #3f3a31;
}
.day-plan_speaker .day-plan__time p, .day-plan_speaker .day-plan__time span,
.day-plan_speaker .day-plan__my-sessin p,
.day-plan_speaker .day-plan__my-sessin span,
.day-plan_speaker .day-plan__description p,
.day-plan_speaker .day-plan__description span,
.day-plan_speaker .day-plan__format p,
.day-plan_speaker .day-plan__format span,
.day-plan_speaker .day-plan__speakers p,
.day-plan_speaker .day-plan__speakers span,
.day-plan_speaker .day-plan__speakers-item p,
.day-plan_speaker .day-plan__speakers-item span {
  color: #3f3a31;
}
.day-plan_speaker .day-plan__btn-status {
  background: transparent;
  border: 1px solid #3f3a31;
}
.day-plan__main {
  width: 100%;
  padding: 10px;
}

.day-plan .active .day-plan__aside .day-plan__arrow-toggle {
  transform: rotate(180deg);
}
.day-plan .visible {
  padding-right: 40px;
}
.day-plan .hidden {
  display: none;
  padding-right: 40px;
}
.day-plan__time {
  margin-bottom: 10px;
  font-family: "HelveticaNeueBoldCondensed", sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-decoration: underline;
}

.day-plan__my-sessin {
  margin: 10px 0;
  font-family: "HelveticaNeueBoldCondensed", sans-serif;
  font-size: 23px;
  font-weight: 700;
  text-transform: uppercase;
}
.day-plan__description {
  margin: 10px 0;
  font-size: 14px;
}

.day-plan__label {
  margin: 5px 0;
  color: #3f3a31;
  font-family: "HelveticaNeueBoldCondensed", sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.day-plan__external-speaker {
  margin: 10px 0;
}
.day-plan__external-speaker p {
  font-family: "HelveticaNeueBoldCondensed", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
}
.day-plan__external-speaker p:first-child {
  font-size: 12px;
}

.day-plan__btn-status {
  width: 100%;
  height: 40px;
  display: block;
  margin-bottom: 10px;
  font-family: "HelveticaNeueBoldCondensed", sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  line-height: 40px;
}

@media screen and (max-width: 1024px) {
  .day-plan__btn-status {
    width: 190px;
  }
}
.day-plan__btn-status_sign-up {
  background-color: #D2BA91;
  color: #8B7454;
}

.day-plan__btn-status_sign-up:hover{
  color: #fff;
}
.day-plan__btn-status_signed-up {
  background-color: #D2BA91;
  color: #8B7454;
  opacity: 0.3;
}
.day-plan__btn-status_session-end {
  background-color: transparent;
  background-image:  url("../img/session-end-border.png");
  background-size: 100% 40px;
  color: #3F3A31;
}
@media screen and (max-width: 1024px) {
  .day-plan__format {
    margin-bottom: 10px;
  }
}
.day-plan__format span {
  font-size: 14px;
}

@media screen and (max-width: 1024px) {
  .day-plan__format span {
    font-size: 12px;
  }
}
.day-plan__format span:first-child {
  font-family: "HelveticaNeueBoldCondensed", sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.day-plan__speakers-list{
  margin-top: 10px;
}

.day-plan__speakers {
  margin-bottom: 10px;
}
.day-plan__speakers > p {
  font-family: "HelveticaNeueBoldCondensed", sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

@media screen and (max-width: 1024px) {
  .day-plan__speakers > p {
    margin-bottom: 10px;
  }
}
.day-plan__speakers-item {
  display: flex;
  align-items: flex-start;
  position: relative;
  font-size: 14px;
}

.day-plan__speakers-item:not(:last-child) {
  margin-bottom: 3px;
}
.day-plan__checkbox {
  margin-right: 7px;
}
.day-plan__aside {
  width: 40px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
}
.day-plan__arrow-toggle {
  width: 25px;
  height: 16px;
  margin-top: auto;
  transition: transform 0.4s ease-in-out;
  background-image: url("../img/arrow-down.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  cursor: pointer;
}

.rating__wrapper{
  width: 100%;
  height: 100%;
  background-image: url("../img/rating-bg.png");
  background-repeat: repeat-y;
  background-size: 100%;
  background-position: center;
}

.rating {
  display: flex;
  overflow: hidden;
  padding: 20px 0;
}

@media screen and (max-width: 1024px) {
  .rating {
    flex-direction: column;
    padding: 0;
  }
}
.rating__speakers {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: -15px -20px;
  overflow: hidden;
}
@media screen and (max-width: 1024px) {
  .rating__speakers {
    max-height: 290px;
    margin: 0;
    margin-right: 10px;
    padding: 0 18px !important;
    overflow-y: auto;
    justify-content: space-evenly;
  }
}
@media screen and (max-width: 576px) {
  .rating__speakers {
    max-height: 600px;
    justify-content: flex-start;
    margin-right: 10px;
    padding: 0 12px !important;
  }
}

@media screen and (max-width: 360px) {
  .rating__speakers {
    margin-right: 0;
  }
}
.rating__speaker {
  width: 24%;
  margin: 15px 20px;
  margin-right: -20px;
}
@media screen and (max-width: 1280px) {
  .rating__speaker {
    width: 32%;
  }
}


@media screen and (max-width: 1000px) {
  .rating__speaker {
    width: 50%;
    justify-content: center;
    margin: 15px 0;
  }
}
@media screen and (max-width: 700px) {
  .rating__speaker {width: 100%;
    justify-content: flex-start;
  }
}

.about-card {
  width: 200px;
  height: 160px;
  flex-shrink: 0;
  margin-right: 20px;
  padding: 30px 15px 20px 15px;
  background-image: url("../img/info-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  color: #fff;
}
@media screen and (max-width: 1024px) {
  .about-card {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 0;
    margin-bottom: 20px;
    padding: 30px 20px 35px 20px;
    background-image: url("../img/info-bg-mobile.png");
    background-repeat: repeat-x;
    background-size: auto 100%;
  }
}
.about-card__title {
  margin-bottom: 5px;
  font-family: "HelveticaNeueBlackCondensed", sans-serif;
  font-size: 20px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  line-height: 0.95;
}

.about-card__description {
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
}
@media screen and (max-width: 1024px) {
  .about-card__description {
    max-width: 470px;
    font-size: 14px;
    text-align: center;
  }
}

.speaker-card {
  display: flex;
}
.speaker-card__photo {
  width: 135px;
  height: 135px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../img/speaker-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
.speaker-card__photo img {
  width: 135px;
  height: 135px;
  padding: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}
.speaker-card__info {
  padding-top: 20px;
}
.speaker-card__name {
  min-width: 113px;
  min-height: 28px;
  display: flex;
  flex-wrap: wrap;
  padding: 6px;
  background-color: #D2BA91;
  color: #F7EEDD;
  font-family: "HelveticaNeueBoldCondensed", sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 16px;
  transform: translateX(-30px);
}
@media screen and (max-width: 1280px) {
  .speaker-card__name {
    width: auto;
    height: auto;
    background-color: #D2BA91;
    color: #F7EEDD;
    flex-direction: row;
    padding: 6px;
    font-size: 14px;
  }
}

.speaker-card__name span:first-child {
  margin-right: 4px;
}
.speaker-card__place {
  margin-top: 15px;
}
.speaker-card__place, .speaker-card__likes {
  margin-left: 10px;
  color: #3F3A31;
  font-size: 12px;
}
.speaker-card__place span, .speaker-card__likes span {
  font-size: 20px;
  font-weight: 500;
}

.mask {
  max-width: 1280px;
  display: flex;
  justify-content: center;
  position: relative;
  flex-direction: column;
  padding: 30px 0;
  margin: 0 auto;
}

.mask__info {
  width: 100%;
  height: 194px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0;
  padding: 30px 20px 35px 20px;
  background-image: url("../img/mask-bg.png");
  background-repeat: repeat-x;
  background-size: 100%;
}

@media screen and (max-width: 1280px){
  .mask__info {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
    padding: 30px 20px 35px 20px;
    background-image: url("../img/info-bg-mobile.png");
    background-repeat: repeat-x;
    background-size: auto 100%;
  }
}

.mask__title {
  font-family: "HelveticaNeueBlackCondensed", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 1.05;
  margin-bottom: 5px;
  color: #fff;
  font-size: 20px;
  text-align: center;
  word-spacing: 0;
}

.mask__description {
  max-width: 602px;
  line-height: 16px;
  color: #fff;
  font-size: 14px;
  text-align: center;
  margin-bottom: 15px;

}

@media screen and (max-width: 768px) {
  .mask__description {
    max-width: 602px;
    line-height: 14px;
    font-size: 12px;
  }
  
}

.mask__description a{
  color: #ECAB4D;
  text-decoration: underline;
}

.mask__mobile-info {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -30px;
}

.mask__mobile-qr {
  width: 224px;
  height: 224px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  padding-top: 5px;
  background-image: url("../img/info-bg-2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  color: #3f3a31;
}
@media screen and (max-width: 576px) {
  .mask__mobile-qr {
    display: none;
  }
}
.mask__mobile-qr img {
  width: 125px;
  height: 125px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-bottom: 15px;
}
.mask__mobile-qr p {
  color: #8B7454;
  font-family: "HelveticaNeueBlackCondensed", sans-serif;
  font-size: 20px;
  font-weight: 900;
  text-transform: uppercase;
}
.mask__mobile-label {
  margin: 0 15px;
  color: #8B7454;
  font-family: "HelveticaNeueBlackCondensed", sans-serif;
  font-size: 20px;
  font-weight: 900;
  text-transform: uppercase;
}
@media screen and (max-width: 576px) {
  .mask__mobile-label {
    display: none;
  }
}
.mask__mobile-description {
  width: 224px;
  height: 224px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  padding-top: 5px;
  background-image: url("../img/info-bg-2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  color: #3f3a31;
}
.mask__mobile-description p {
  color: #8B7454;
  font-family: "HelveticaNeueBlackCondensed", sans-serif;
  font-size: 20px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
}
.mask__mobile-description p a {
  color: #8B7454;
  text-decoration: underline;
}

.mask__qr {
  width: 220px;
  height: 220px;
  flex-shrink: 0;
  position: relative;
  margin: 0 45px;
}
@media screen and (max-width: 1024px) {
  .mask__qr {
    display: none;
  }
}
.mask__qr::before, .mask__qr::after {
  content: "";
  width: 45px;
  height: 0;
  position: absolute;
  top: 119px;
  border-bottom: 3px solid #3f3a31;
}
@media screen and (max-width: 1600px) {
  .mask__qr::before, .mask__qr::after {
    display: none;
  }
}
.mask__qr::before {
  left: -45px;
}
.mask__qr::after {
  right: -45px;
}
.mask__qr img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.mask__info-2 {
  width: 292px;
  height: 270px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  margin-top: 40px;
  padding: 20px 25px 20px 40px;
  background-image: url("../img/info-bg-2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  color: #3f3a31;
}
@media screen and (max-width: 1024px) {
  .mask__info-2 {
    display: none;
  }
}
.mask__text {
  color: #3f3a31;
  font-family: "HelveticaNeueBoldCondensed", sans-serif;
  font-size: 23px;
  font-weight: 700;
  text-transform: uppercase;
}

.quote{
  display: flex;
}

.quote__aside{
  width: 200px;
  height: 115px;
  padding: 15px;
  background-image: url("../img/quote-bg.png");
  background-repeat: no-repeat;
  background-size: contain;
  font-family: "HelveticaNeueBoldCondensed", sans-serif;
  font-weight: 900;
  font-size: 20px;
  line-height: 22px;
  color: #fff;
  text-align: center;
}

.quote__wrapper {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

@media screen and (max-width: 1024px) {
  .quote__aside{
    display: none;
  }

  .quote__wrapper {
    max-height: 970px;
    margin: 0;
    margin-right: 10px;
    padding: 0 18px !important;
    overflow-y: auto;
    justify-content: space-evenly;
  }
}

.quote__item{
  display: flex;
  flex-direction: column;
  width: 304px;
  height: 304px;
  margin-left: 20px;
  margin-bottom: 20px;
}

.quote__block {
  width: 304px;
  height: 240px;
  padding: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.quote__text{
  width: 256px;
  height: 190px;
  padding: 10px;
  box-sizing: content-box;
  font-size: 14px;
  line-height: 16px;
  color: #3F3A31;
  overflow-y: auto;
}

.quote__block-bottom{
  width: 304px;
  height: 66px;
  margin-top: -2px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

@media screen and (max-width: 578px) {
  
  .quote__wrapper {
    padding: 0 10px !important;
  }

  .quote__item{
    margin-left: 0px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 360px) {
  
  .quote__wrapper {
    padding: 0 !important;
    margin-right: 0;
  }

  .quote__item{
    width: 284px;
    margin-left: -10px;
  }

  .quote__block{
    width: 284px;
    padding: 10px;
  }

  .quote__block-bottom {
    width: 284px;
  }
}

.quote__item:nth-child(1n) .quote__block{
  border: 4px solid #6B7C43;
}
.quote__item:nth-child(1n) .quote__block-bottom{
  background-image: url("../img/rectangle1.png");
}

.quote__item:nth-child(2n) .quote__block{
  border: 4px solid #859FA4;
}
.quote__item:nth-child(2n) .quote__block-bottom{
  background-image: url("../img/rectangle2.png");
}

.quote__item:nth-child(3n) .quote__block{
  border: 4px solid #CB8F38;
}
.quote__item:nth-child(3n) .quote__block-bottom{
  background-image: url("../img/rectangle3.png");
}

.quote__item:nth-child(4n) .quote__block{
  border: 4px solid #9F4834;
}
.quote__item:nth-child(4n) .quote__block-bottom{
  background-image: url("../img/rectangle4.png");
}

.quote__item:nth-child(5n) .quote__block{
  border: 4px solid #2A5962;
}
.quote__item:nth-child(5n) .quote__block-bottom{
  background-image: url("../img/rectangle5.png");
}

.quote__item:nth-child(6n) .quote__block{
  border: 4px solid #8C7454;
}
.quote__item:nth-child(6n) .quote__block-bottom{
  background-image: url("../img/rectangle6.png");
}

.quote__author{
  width: 100%;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  padding: 0 10px;
  text-transform: uppercase;
  text-align: center;
}

.footer__wrapper{
  width: 100%;
  height: 200px;
  position: relative;
}

.footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 90px;
  background-image: url("../img/footer-bg-line.png");
  background-repeat: repeat-x;
  background-position: top center;
  background-size: auto 90px;
  z-index: 1;
}

.footer-img{
  position: absolute;
  bottom: 0;
  left:50%;
  transform: translateX(-50%);
  width: 1194px;
  max-width: 1280px;
  height: 220px;
  background-image: url("../img/footer-bg.png");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: auto 100%;
  z-index: 2;
  -webkit-transform:translateX(-50%);
  -moz-transform:translateX(-50%);
  -ms-transform:translateX(-50%);
  -o-transform:translateX(-50%);
}

@media screen and (max-width: 1166px) {
  .footer{
    height: 73px;
  }

  .footer-img{
    width: 692px;
    height: 170px;
    background-image: url("../img/footer-bg-tab.png");
  }
}

@media screen and (max-width: 700px) {
  .footer{
    height: 85px;
  }

  .footer-img{
    width: 300px;
    height: 110px;
    margin-bottom: 10px;
    background-image: url("../img/footer-bg-mob.png");
  }
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  background: transparent;
  z-index: -1;
  opacity: 0;
  transition: all 0.2s linear;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  color: #fff;
}

#popup-prizes{
  position: absolute;
  align-items: flex-end;
}

#popup-calendar{
  align-items: flex-start;
}

.popup__close {
  width: 17px;
  height: 17px;
  position: absolute;
  top: 16px;
  right: 12px;
  background-color: transparent;
}
.popup__close svg {
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.popup__title {
  margin-bottom: 5px;
  font-family: "HelveticaNeueBlackCondensed", sans-serif;
  font-size: 20px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
}
.popup__text {
  max-width: 175px;
  margin-bottom: 10px;
  font-size: 14px;
  text-align: center;
}

.js-popup-show {
  z-index: 999;
  opacity: 1;
  pointer-events: visible;
}

.popup__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: transparent;
  width: 100%;
}

#popup-calendar .popup__body {
  width: 224px;
  height: 786px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 15px;
  background-image: url("../img/popup-calendar-bg.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}
#popup-calendar .popup__body .popup__title {
  color: #3F3A31;
}
#popup-calendar .popup__body .popup__text {
  color: #3F3A31;
}
#popup-calendar .popup__body .popup__colors {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#popup-calendar .popup__body .popup__color {
  padding: 6px 8px;
  color: #fff;
  font-family: "HelveticaNeueBoldCondensed", sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}
#popup-calendar .popup__body .popup__color:not(:last-child) {
  margin-bottom: 5px;
}

#popup-vote .popup__body {
  width: 224px;
  height: 282px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 15px;
  background-image: url("../img/popup-vote-bg.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}
#popup-vote .popup__body .popup__title {
  margin-bottom: 15px;
  color: #fff;
}
#popup-vote .popup__body .popup__text {
  color: #fff;
}
#popup-vote .popup__body .popup__vote-status {
  display: flex;
  font-size: 12px;
}
#popup-vote .popup__body .popup__vote-status:not(:last-child) {
  margin-bottom: 10px;
}
#popup-vote .popup__body .popup__vote-status img {
  width: 19px;
  height: 19px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-right: 8px;
}

.prizes__wrapper{
  width: 100%;
  height: auto;
  position: relative;
}

.prizes {
  display: flex;
  align-items: flex-start;
  position: relative;
  overflow: hidden;
  width: 100%;
  height:300px;
  text-align: center;
  flex-shrink: 0;
  background-image: url("../img/prizes-bg.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  margin: 20px auto;
}

.prizes__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 708px;
  margin: 20px 125px;
}

.prize{
  display: none;
}
@media screen and (max-width: 1280px) {
  .prizes__wrapper{
    width: 100%;
    min-height: 420px;
    position: relative;
  }
 
  .prizes {
    width: 100%;
    height: 230px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../img/info-bg-mobile.png");
    background-repeat: repeat-x;
    background-size: auto 100%;
    z-index: 1;
  }

  .prizes__info {
    margin: 20px;
  }
  
  .prize{
    position: absolute;
    display: block;
    width: 272px;
    height: 208px;
    margin-left: -137px;
    z-index: 2;
    left: 50%;
    bottom: 10px;
  }
}

@media screen and (max-width: 768px) {
  .prize{
    position: absolute;
    display: block;
    width: 236px;
    height: 184px;
    margin-left: -118px;
    z-index: 2;
    left: 50%;
    bottom: 33px;
  }
}

@media screen and (max-width: 1280px) {
  .prizes__info{
    margin: 10px;
  }
}
.prizes__title {
  margin-bottom: 10px;
  color: #fff;
  font-family: "HelveticaNeueBlackCondensed", sans-serif;
  font-size: 20px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
}

.prizes__description {
  max-width: 100%;
  color: #fff;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 15px;
}

.prizes a{
  color: #ECAB4D;
  text-decoration: underline;
}
@media screen and (max-width: 768px) { /*max-width: 1024px*/
  .prizes__description {
    font-size: 12px;
    line-height: 14px;
    text-align: center;
  }
}

@media screen and (max-width: 576px) {
  .prizes {
    height: 270px;
  }

  .prize{
    bottom: -5px;
  }
}

@media screen and (max-width: 424px) {
  .prizes {
    height: 290px;
  }

  .prize{
    bottom: -25px;
  }
}

.prizes__button{
  display: flex;
  justify-content: center;
  width: 270px;
  height: 40px;
  background-color: #D2BA91;
  color: #8c7454;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 40px;
  text-align: center;
  position: relative;
}

.prizes__button:hover{
  color: #fff;
}

#popup-prizes .popup__body {
  max-width: 480px;
  min-height: 270px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 30px 25px;
  background-image: url(../img/popup-prizes-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #90714D;
}

#popup-prizes .popup__text{
  max-width: 100%;
}

li.popup__prizes-item { 
  list-style-type: none; 
  font-size: 14px;
  line-height: 20px;
  text-align: left;
 }
li.popup__prizes-item:before {
  padding-right: 5px;
  content: " ";
  display: inline-block;
  width: 9px;
  height: 9px;
  border: 2px solid #ECAB4D;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}


.sessions {
  display: flex;
  margin-bottom: 30px;
}
@media screen and (max-width: 1024px) {
  .sessions {
    flex-direction: column;
    padding: 0;
  }
}
.sessions__about {
  width: 200px;
  height: 80px;
  flex-shrink: 0;
  padding: 20px 30px;
  background-image: url(../img/session-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  color: #fff;
  align-items: center;
  justify-content: center;
  display: flex;
}
@media screen and (max-width: 1024px) {
  .sessions__about {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 0;
    margin-bottom: 20px;
    padding: 30px 20px 35px 20px;
    background-image: url("../img/info-bg-mobile.png");
    background-repeat: repeat-x;
    background-size: auto 100%;
  }
}
.sessions__title {
  font-family: "HelveticaNeueBlackCondensed", sans-serif;
  font-size: 20px;
  font-weight: 900;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
}


.sessions__sessions-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  padding: 0 20px;
}
@media screen and (max-width: 576px) {
  .sessions__sessions-list {
    padding: 0 12px;
  }
}
.sessions__session {
  margin-bottom:20px;
}
@media screen and (max-width: 1024px) {
  .sessions__session {
    margin: 10px 0;
  }
}
.sessions .session-card {
  max-width: 630px;
  height: auto;
  padding: 10px;
  border: 2px solid #D2BA91;
  position: relative;
  padding: 10px;
}

.sessions .session-card__title {
  margin-bottom: 10px;
  color: #8B7454;
  font-family: "HelveticaNeueBoldCondensed", sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.sessions .session-card__description {
  margin-bottom: 10px;
    color: #8c7454;
    font-size: 14px;
}

.sessions .session-card__btn-members {
  max-width: 325px;
  width: 100%;
  height: 40px;
  position: relative;
  padding-left: 10px;
  background-image: url("../img/btn-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  color: #8B7454;
  /*font-family: "HelveticaNeueBoldCondensed", sans-serif;*/
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: left;
}
.sessions .session-card__btn-members::after {
  content: "";
  width: 14px;
  height: 14px;
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  background-image: url("../img/arrow-down-2.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
.sessions .session-card__members-list {
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 99;
  transform: translateY(100%);
}

.members-list {
  display: none;
  position: relative;
  max-width: 325px;
  width: 100%;
  height: 320px;
  padding: 10px 0 20px 10px;
  background-color: #fff;
  border: 2px solid #D2BA91;
}
.members-list::after {
  content: "";
  width: 30px;
  height: 100%;
  position: absolute;
  top: -1px;
  bottom: 0px;
  right: 0;
  background-color: #c7c4c0;
  z-index: -1;
}

.members-list_active {
  display: block;
}
.members-list__title {
  margin-bottom: 10px;
  color: #8B7454;
  font-family: "HelveticaNeueBoldCondensed", sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}
.members-list__btn-close {
  width: 16px;
  height: 18px;
  position: absolute;
  top: 10px;
  right: 7px;
  background-color: transparent;
}

.members-list__btn-close svg {
  width: 100%;
  height: 100%;
  stroke: #fff;
}

.members-list__search {
  height: 190px;
  position: relative;
  margin-right: 8px;
  overflow: auto;
}

.members-list__search-input {
  max-width: 275px;
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  padding: 0 10px;
  border: none;
  outline: none;
  color: #8B7454;
  background-color: #f7eedc;
  font-size: 14px;
  line-height: 9px;
  font-family: inherit;
  text-transform: uppercase;
  z-index: 9;
  top: 40px;
  left: 10px;
}

.members-list__member {
  display: flex;
  position: relative;
  margin-right: 50px;
  color: #3f3a31;
  font-size: 14px;
}

.members-list__member:not(:last-child) {
  margin-bottom: 10px;
}
.members-list__checkbox {
  margin-right: 10px;
}

.custom-checkbox {
  display: inline-block;
  position: relative;
  padding-left: calc(24px + 0px);
}
.custom-checkbox__checkbox-default {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
}
.custom-checkbox__checkbox-custom {
  position: absolute;
  top: calc(50% - 12px);
  width: 24px;
  height: 24px;
  margin-left: calc((24px + 0px) * -1);
  border-radius: 0px;
  box-sizing: border-box;
  border: 2px solid #f7eedc;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
}
.custom-checkbox__checkmark {
  width: 80%;
  height: 80%;
  position: absolute;
  top: calc(50% - 40%);
  left: calc(50% - 40%);
  fill: #f7eedc;
  opacity: 0;
}
.custom-checkbox__label {
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
}
.custom-checkbox__checkbox-default:checked + .custom-checkbox__checkbox-custom .custom-checkbox__checkmark {
  opacity: 1;
}
.custom-checkbox__checkbox-default:focus + .custom-checkbox__checkbox-custom {
  box-shadow: 0 0 5px 1px #f7eedc;
  outline: none;
}
.custom-checkbox__checkbox-default:disabled + .custom-checkbox__checkbox-custom, .custom-checkbox__checkbox-default:disabled ~ .custom-checkbox__label {
  opacity: 0.5;
  cursor: default;
}

.checkbox-cup {
  width: 19px;
  height: 19px;
  flex-shrink: 0;
  position: relative;
}
.checkbox-cup__checkbox-default {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
}
.checkbox-cup__checkbox-custom {
  width: 100%;
  height: 100%;
  display: block;
  background-color: transparent;
  background-image: url("../img/cup-active.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  cursor: pointer;
}
.checkbox-cup_style-2 .checkbox-cup__checkbox-custom {
  background-image: url("../img/cup-active-style-2.svg");
}
.checkbox-cup_style-2 .checkbox-cup__checkbox-default:checked + .checkbox-cup__checkbox-custom {
  background-image: url("../img/cup-not-active-style-2.svg");
}
.checkbox-cup_style-2 .checkbox-cup__checkbox-default:disabled + .checkbox-cup__checkbox-custom {
  background-image: url("../img/cup-disabled-style-2.svg");
  cursor: default;
}
.checkbox-cup__checkbox-default:checked + .checkbox-cup__checkbox-custom {
  background-image: url("../img/cup-not-active.svg");
}
.checkbox-cup__checkbox-default:disabled + .checkbox-cup__checkbox-custom {
  background-image: url("../img/cup-disabled.svg");
  cursor: default;
}

@media only screen and (min-width: 1025px) and (max-width: 1300px){
  .calendar,
  .rating__wrapper{
    padding: 0 10px;
  }
}