@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("../fonts/HelveticaNeueCyr-Roman.eot");
  src: url("../fonts/HelveticaNeueCyr-Roman.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueCyr-Roman.woff2") format("woff2"), url("../fonts/HelveticaNeueCyr-Roman.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Roman.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "HelveticaNeueBoldCondensed";
  src: url("../fonts/HelveticaNeueBoldCondensed.eot");
  src: url("../fonts/HelveticaNeueBoldCondensed.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueBoldCondensed.woff2") format("woff2"), url("../fonts/HelveticaNeueBoldCondensed.woff") format("woff"), url("../fonts/HelveticaNeueBoldCondensed.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "HelveticaNeueBlackCondensed";
  src: url("../fonts/HelveticaNeueBlackCondensed.eot");
  src: url("../fonts/HelveticaNeueBlackCondensed.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueBlackCondensed.woff2") format("woff2"), url("../fonts/HelveticaNeueBlackCondensed.woff") format("woff"), url("../fonts/HelveticaNeueBlackCondensed.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 320px;
  min-height: 100vh;
  background-color: #fff;
  color: #f7eedc;
  font-family: "HelveticaNeueCyr", sans-serif;
}

main {
  padding: 30px 0;
  overflow: hidden;
}
@media screen and (max-width: 1024px) {
  main {
    background-color: #fff;
    background-image: none;
  }
}

section {
  max-width: 1920px;
  margin: 0 auto;
}

.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
}

a {
  transition: color 0.2s ease-in-out;
}

button {
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

svg {
  transition: fill 0.2s ease-in-out;
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

*:focus {
  outline: #000 solid 1px;
  outline-offset: -1px;
}

.custom-checkbox {
  display: inline-block;
  position: relative;
  padding-left: calc(24px + 0px);
}
.custom-checkbox__checkbox-default {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
}
.custom-checkbox__checkbox-custom {
  position: absolute;
  top: calc(50% - 12px);
  width: 24px;
  height: 24px;
  margin-left: calc((24px + 0px) * -1);
  border-radius: 0px;
  box-sizing: border-box;
  border: 2px solid #90714D;
  background-color: #fff;
  transition: all 0.3s ease;
}
.custom-checkbox__checkmark {
  width: 80%;
  height: 80%;
  position: absolute;
  top: calc(50% - 40%);
  left: calc(50% - 40%);
  fill: #90714D;
  opacity: 0;
}
.custom-checkbox__label {
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
}
.custom-checkbox__checkbox-default:checked + .custom-checkbox__checkbox-custom .custom-checkbox__checkmark {
  opacity: 1;
}
.custom-checkbox__checkbox-default:focus + .custom-checkbox__checkbox-custom {
  box-shadow: 0 0 5px 1px #90714D;
  outline: none;
}
.custom-checkbox__checkbox-default:disabled + .custom-checkbox__checkbox-custom, .custom-checkbox__checkbox-default:disabled ~ .custom-checkbox__label {
  opacity: 0.5;
  cursor: default;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #FCF9F4;
}
@media screen and (max-width: 1280px) {
  .banner {
  }
}
@media screen and (max-width: 576px) {
  .banner {
  }
}
.banner__wrapper {
  display: flex;
  width: 1276px;
  height: 566px;
  background-image: url("../img/header-bg1.png");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: 100% auto;
  background-color: #FCF9F4;
}

@media screen and (max-width: 1276px) {
  .banner__wrapper{
    display: flex;
    width: 1148px;
    height: 510px;
  }
}

@media screen and (max-width: 1024px) {
  .banner__wrapper {
    width: 768px;
    height: 341px;
    background-image: url("../img/header-bg-tab.png");
  }
}

@media screen and (max-width: 700px) {
  .banner__wrapper {
    height: 300px;
  }
}

@media screen and (max-width: 600px) {
  .banner__wrapper {
    height: 270px;
  }
}

@media screen and (max-width: 576px) {
  .banner__wrapper {
    width: 388px;
    height:262px;
    background-image: url("../img/header-bg-mob.png");
  }
} 



.reg {
  width: 100%;
  height: 100%;
  flex-grow: 1;
  padding: 70px;
  background: #F7EEDD;
}
@media screen and (max-width: 1280px) {
  .reg {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
}

.reg__wrapper {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  display: flex;
    justify-content: center;
    align-items: center;
}
.reg__form {
  width: 332px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 35px 25px;
  margin: 20px 10px;
  background-image: url("../img/reg-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.reg__form_login{
  width: 330px;
  height: 332px;
  background-image: url("../img/log-bg.png");
}



.reg__label {
  font-family: "HelveticaNeueBlackCondensed", sans-serif;
  margin-bottom: 15px;
  color: #90714D;
  font-size: 24px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
}

.reg .input-text {
  width: 280px !important;
  height: 44px;
  color: #8C7454;
  background-color: #fff;
}
.reg__submit {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 20px;
}
.reg__check {
  max-width: 530px;
  display: flex;
  align-items: flex-start;
  margin-bottom: 35px;
}
.reg__check .custom-checkbox {
  flex-shrink: 0;
  margin-top: 10px;
  margin-right: 15px;
}
.reg__check p,
.reg__check a {
  color: #90714D;
  font-size: 12px;
  line-height: 14px;
}

.reg__check a {
  text-decoration: underline;
}
.reg__link {
  margin: 0 auto;
  color:  #90714D;
  font-size: 12px;
  text-decoration: underline;
}
.reg .input-text {
  width: 280px;
  height: 44px;
  flex-shrink: 0;
  margin-bottom: 20px;
  padding: 0 20px;
  border: none;
  outline: none;
}

input:-internal-autofill-selected{
  background-color: #fff;
}
.reg .reg-btn {
  margin-left: 0;
  align-self: center;
  font-family: "HelveticaNeueBoldCondensed", sans-serif;
  font-weight: 700;
  font-size: 16px;
  width: 190px;
  height: 40px;
  flex-shrink: 0;
  background-color: transparent;
  background-image: url("../img/btn-submit-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  color: #8c7454;
  font-size: 18px;
  text-transform: uppercase;
}

.reg .error-text {
  margin-bottom: 15px;
  color: #FE7A7A;
  font-size: 12px;
  text-align: center;
}
.reg .link-forgot-pass {
  margin-bottom: 15px;
  color: #FE7A7A;
  font-size: 12px;
  text-align: center;
  text-decoration: underline;
}
.reg .reg-success {
  width: 332px;
  height: 248px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 0 20px;
  background-image: url("../img/reg-success-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
.reg .reg-success__title {
  margin-bottom: 25px;
  color:  #90714D;
  font-size: 24px;
  font-family: "HelveticaNeueBlackCondensed", sans-serif;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
}
.reg .reg-success .reg-btn {
  margin-left: 0;
}
.reg .pass-reset {
  width: 332px;
  height: 268px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 0 20px;
  background-image: url("../img/pass-reset-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
.reg .pass-reset__title {
  margin-bottom: 10px;
  color: #90714D;
  font-size: 24px;
  font-family: "HelveticaNeueBlackCondensed", sans-serif;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
}
.reg .pass-reset__info {
  max-width: 180px;
  margin-bottom: 15px;
  color: #90714D;
  font-size: 12px;
  text-align: center;
}
.reg .pass-reset .reg-btn {
  margin-left: 0;
}
.reg .pass-restore {
  width: 332px;
  height: 214px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 0 20px;
  background-image: url("../img/pass-restore-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
.reg .pass-restore__title {
  margin-bottom: 17px;
  color: #90714D;
  font-size: 24px;
  font-family: "HelveticaNeueBlackCondensed", sans-serif;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
}
.reg .pass-restore__info {
  max-width: 250px;
  margin-bottom: 25px;
  color: #90714D;
  font-size: 12px;
  text-align: center;
}
.reg .pass-restore .reg-btn {
  margin-left: 0;
}

.reg .reg-btn:hover{
  color: #fff;
}


@media screen and (max-width: 576px) {
  .reg {
    align-items: flex-start;
    padding-top: 50px;
  }

  .reg__form {
    max-width: 332px;
    min-height: 400px;
    padding: 20px 10px;
    margin: 10px;
    background-size: 100% 100%;
  }

  .reg .pass-reset {
    max-width: 332px;
    min-height: 268px;
    padding: 0 10px;
  }

  .reg__form_login{
    max-width: 330px;
    min-height: 332px;
  }

  .reg .input-text {
    max-width: 280px;
    height: 44px;
  } 

  .reg .reg__label,
  .reg .reg-success__title,
  .reg .pass-reset__title,
  .reg .pass-restore__title{
    font-size: 20px;
  }

}